

body {
    background: linear-gradient(to right,#d4f8f4, #1bddba);
}

header {
    display: flex;
    justify-content: space-around;
}

img {
    width: 100px;
    height: auto;
}

h1 {
    font-family: "Paytone One"; 
    font-size: 4em;
    color: #FF4A4A;
    text-align: center;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
}


h3 {
    font-family: "Paytone One";
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    color: #FF4A4A;
    padding-bottom: 0;
    margin-bottom: 0;
}


h5 {
    font-family: "Paytone One"; 
    font-size: 1.5em;
    color: slategray;
    font-weight: 200;
    text-align: center;
    margin-top: 0px;
    
}

.top, a {
    text-align: center;
    font-family: "Paytone One";
    color: slategray;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.subjects {
    display: flex;
    justify-content: space-around;
    background-color: #FF9551;
    color: slategray;
    font-family: "Paytone One";
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
}

.spa:hover, .eng:hover, .lat:hover {
    color: #FF4A4A;
    
}

.engwordspa, .engwordlat, .latword, .gerwordeng, .engword, .spaword {
    width: 25rem;
    height: auto;
    text-align: center;
    font-family: "Architects Daughter";
    font-size: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: slategrey;
    border: 2px solid slategray;
    border-radius: 5%;
    background-color: lightgray;
}

.spaword,.latword, .engword{
    color: transparent;
}

.spaword:hover, .latword:hover, .engword:hover {
    color: #1bddba;
    background-color: slategray;
    border: 2px solid lightgray;
}

.wordbox {
    display: flex;
    justify-content: space-around;
}

.click{
    display: flex;
    justify-content: space-around;
}

button {
    padding: 1rem;
    font-size: 2rem;
    top: 0;
    background-color: #FF9551;
    color: slategray;
    border-radius: 10%;
    border: 2px solid slategray;
    margin-bottom: 2rem;
    transition: .2s ease-in-out 0s;
}

button:hover {
    transform: scale(1.25);
}

#spanisch, #latin, #englisch {
    text-align: center;
}

.answerbox {
    display: flex;
    justify-content: space-around;
}
.rightanswer, .wronganswer {
    font-family: "Architects Daughter";
    font-size: 1.5rem;
    color: #FF9551;
    background-color: slategray;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid #FF9551;
}


.left {
    padding-right: 2rem;
}

footer {
    width: 100%;
    padding: 1rem;
}

.totalAnswers {
    display: flex;
    justify-content: space-around;
    font-family: "Architects Daughter";
    font-size: 1.5rem;
    color: slategray;
}
